/* Global Reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Body and Splash Screens */
body {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  background: linear-gradient(130deg, #1cb5e0 0%, #000851 100%);
  color: #eeeeee;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

/* Headings and Text */
h1,
h2,
p,
pre {
  padding: 5px;
}
h1,
h2 {
  font-family: fantasy;
  font-size: 75px;
}
p,
pre,
ul,
li {
  font-size: 18px;
  list-style: none;
}

/* Player Form */
.playerForm {
  width: 300px;
}
.playerForm .inputArea {
  width: 100%;
  height: 50px;
  font-size: 20px;
  text-align: center;
  color: white;
  border: none;
  background-color: rgba(0, 0, 0, 0.1);
  outline: none;
}

/* Start Container */
.startContainer {
  visibility: hidden;
  display: flex;
  gap: 10px;
  flex-direction: column;
  align-items: center;
  position: absolute;
  top: 75px;
}

/* Buttons */
button {
  cursor: pointer;
  z-index: 1;
  background: rgb(231, 196, 57);
  background: radial-gradient(circle, rgba(231, 196, 57, 1) 0%, rgba(250, 118, 46, 1) 100%);
  color: white;
  font-weight: 600;
  border: none;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);
  padding: 10px 25px;
  border-radius: 5px;
}

button:hover {
  box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
}

/* Positioning Specific Buttons */
.restartBtn {
  position: absolute;
  top: 10px;
  left: 10px;
}

.startBtn {
  margin-top: 10px;
}

.playAgainBtn {
  position: absolute;
  top: 10px;
  left: 50%;
  transform: translateX(-50%);
}

.toggleGridBtn {
  position: absolute;
  top: 10px;
  right: 10px;
}

.resetScoreboardBtn {
  position: absolute;
  top: 60px;
  right: 10px;
}

/* Score List Container */
.scoreListContainer {
  visibility: hidden;
  display: flex;
  gap: 10px;
  flex-direction: column;
  align-items: center;
  position: absolute;
  top: 100px;
}

.finalScore {
  font-family: fantasy;
}

.highScoresList {
  list-style: none;
  margin-bottom: 10px;
}

/* Game Board */
.canvas {
  background-image: url(/Project1-Snake-Game/images/grass1.jpeg);
  background-repeat: no-repeat;
  background-size: 100% 100%;
  display: block;
  margin: 0 auto;
  box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
  visibility: hidden;
}
