* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/*Splash Screens*/

body {
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    background: linear-gradient(130deg, #1CB5E0 0%, #000851 100%);
}

h1, h2, p {
    padding: 5px;
}
h1, h2 {
    font-family: fantasy;
    font-size: 50px;
}

p, ul, li {
    font-size: 18px;
    list-style: none;
}

.startBtnContainer {
    visibility: hidden;
    display: flex;
    gap: 10px;
    flex-direction: column;
    align-items: center;
    position: absolute;
    top: 75px;
}

.username {
    padding: 5px 20px;
    background-color: rgba(223, 223, 223, 0.87);
    border: none;
    text-align: center;
}

.startBtn {
    cursor: pointer;
    z-index: 1;
    background: rgb(231,196,57);
    background: radial-gradient(circle, rgba(231,196,57,1) 0%, rgba(250,118,46,1) 100%);
    color: white;
    font-weight: 600;
    border: none;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
    transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);
    padding: 10px 25px;
    border-radius: 5px;
}

.startBtn:hover {
    box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
}

.scoreListContainer {
    visibility: hidden;
    display: flex;
    gap: 10px;
    flex-direction: column;
    align-items: center;
    position: absolute;
    top: 75px;
}

.finalScore {
    font-family: fantasy;
};

.highScoresList {
  list-style: none;
  margin-bottom: 10px;
}

.playAgainBtn {
    cursor: pointer;
    z-index: 1;
    background: rgb(231,196,57);
    background: radial-gradient(circle, rgba(231,196,57,1) 0%, rgba(250,118,46,1) 100%);
    color: white;
    font-weight: 600;
    border: none;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
    transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);
    padding: 10px 25px;
    border-radius: 5px;
}

.playAgainBtn:hover {
    box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
}

/*Game Board*/
.canvas {
    background-image: url(/Project1-Snake-Game/images/grass1.jpeg);
    background-repeat: no-repeat;
    background-size: 100% 100%;
    box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
    visibility: hidden;
}
